    @charset "UTF-8";


    @import "base/base";
    @import "mycustom/color";
    /*    Google fonts    */

    @import url('https://fonts.googleapis.com/css?family=Tangerine:700'); // @import "slick/slick","slick/slick-theme";
    /* ================================================== *
 *
 *    base style
 *
 * ================================================== */

    body {
        @include mybase-color;
        line-height: 2;
    }

    body.pageTop {
        padding-top: 76px;
        position: relative;
    }

    @media (min-width: 768px) {
        body.pageTop {
            padding-top: 116px;
        }
    }
    /* ================================================== *
 *
 *    block modules
 *
 * ================================================== */
    /* ------------------------------------------------- *
 *        header
 * ------------------------------------------------- */

    header {
        padding: 15px 0 0;
    }

    @media (min-width: 768px) {
        header {
            padding: 30px 0 10px;
        }
    }

    header.navbar-default {
        border: none;
        margin-bottom: 0;
        @include mybase-color;
        .navbar-nav {
            li {
                text-align: center;
                a {
                    @include maincolor;
                    &:hover,
                    &:focus {
                        @include main-hover;
                    }
                    .nav-en {
                        display: block;
                        font-size: 30px;
                        @include my-font-en;
                    }
                    .nav-ja {
                        display: block;
                        font-size: 10px;
                    }
                }
            }
        }

        .navbar-toggle {
            margin-right: 0;
        }
        .navbar-header {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @media (min-width: 768px) {
        header.navbar-default .navbar-header {
            margin-bottom: 15px;
        }
    }

    header.navbar-default .navbar-header .navbar-brand {
        height: auto;
        margin-top: -9px;
        margin-right: 30px;
    }

    @media (min-width: 768px) {
        header.navbar-default .navbar-header .navbar-brand {
            padding-top: 24px;
            margin-top: 0;
        }
    }

    @media (min-width: 992px) {
        header.navbar-default .navbar-header .navbar-brand {
            margin-top: -17px;
        }
    }

    header.navbar-default .navbar-collapse {
        max-height: none;
        .navbar-nav {
            float: none;
        }
    }


    @media (min-width: 768px) {
        header.navbar-default .navbar-collapse .navbar-nav {
            float: right;
            margin-right: -30px;
        }
    }

    @media (min-width: 992px) {
        header.navbar-default .navbar-collapse .navbar-nav {
            float: left;
        }
    }
    /* ------------------------------------------------- *
 *        footer
 * ------------------------------------------------- */

    footer {
        background-color: #000;
        color: #fff;
        padding: 30px 0;
        .text-center {
            margin-top: 15px;
            a {
                @include maincolor;
                text-decoration: none;
                &:hover,
                &:focus {
                    @include main-hover;
                    text-decoration: none;
                }
            }
        }
    }

    @media (min-width: 768px) {
        footer {
            .text-center {
                margin-top: 30px;
                a {
                    @include maincolor;
                    text-decoration: none;
                    &:hover,
                    &:focus {
                        @include main-hover;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    /* ------------------------------------------------- *
 *        breadcrumb
 * ------------------------------------------------- */

    .breadcrumb {
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        border-radius: 3px;
        @include breadcrumb-color;
        .active {
            @include breadcrumb-btn-active;
        }
        a {
            text-decoration: none;
            @include breadcrumb-btn;
            &:hover,
            &:focus {
                @include breadcrumb-btn-hover;
            }
        }
    }
    /* ------------------------------------------------- *
 *        pageTop
 * ------------------------------------------------- */

    .top-custom-contents {
        padding: 20px;
        margin: auto;
        text-align: center;
        .top-custom-text {
            padding: 100px;
            margin: auto;
        }
        .top-custom-btn {
            padding: 30px;
            a {
                width: 200px;
                font-size: 30px;
                text-decoration: none;
                display: block;
                text-align: center;
                margin: auto;
                @include my-font-en;
                @include top-contents-btn;
                &:hover,
                &:focus {
                    @include top-contents-btn-hover;
                }
            }
        }
    }


    .top-custom-images {
        padding: 10px;
        margin: 20px;
    }

    .pagetop {
        position: fixed;
        bottom: 120px;
        right: 10px;
        padding: 50px 0;
        width: 80px;
        font-size: 14px;
        display: none;
        opacity: 0.75;
        .pagetop-btn {
            @include pagetop-btn;
            text-decoration: none;
            &:hover,
            &:focus {
                @include pagetop-btn-hover;
                text-decoration: none;
            }
            .fa {
                display: block;
            }
        }
    }
    /* ================================================== *
 *
 *    helper
 *
 * ================================================== */
    /* ------------------------------------------------- *
 *        margin
 * ------------------------------------------------- */

    .margin-top-lg {
        margin-top: 60px;
    }

    .margin-top-md {
        margin-top: 30px;
    }

    .margin-top-sm {
        margin-top: 15px;
    }

    .margin-bottom-lg {
        margin-bottom: 60px;
    }

    .margin-bottom-md {
        margin-bottom: 30px;
    }

    .margin-bottom-sm {
        margin-bottom: 15px;
    }
    /* ------------------------------------------------- *
 *        padding
 * ------------------------------------------------- */

    .padding-top-lg {
        padding-top: 60px;
    }

    .padding-top-md {
        padding-top: 30px;
    }

    .padding-top-sm {
        padding-top: 15px;
    }

    .padding-bottom-lg {
        padding-bottom: 60px;
    }

    .padding-bottom-md {
        padding-bottom: 30px;
    }

    .padding-bottom-sm {
        padding-bottom: 15px;
    }
    /* ------------------------------------------------- *
 *        btn
 * ------------------------------------------------- */

    .btn {
        border-radius: 2px;
        transition: .3s;
    }

    .btn:hover,
    .btn:focus,
    .btn.focus {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    }


    .btn-primary,
    .btn-success,
    .btn-info,
    .btn-warning,
    .btn-danger,
    .btn-facebook,
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active,
    .btn-success:hover,
    .btn-success:focus,
    .btn-success.focus,
    .btn-success:active,
    .btn-success.active,
    .btn-info:hover,
    .btn-info:focus,
    .btn-info.focus,
    .btn-info:active,
    .btn-info.active,
    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning.focus,
    .btn-warning:active,
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger.focus,
    .btn-danger:active,
    .btn-danger.active,
    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook.focus,
    .btn-facebook:active,
    .btn-facebook.active {
        border-color: transparent;
    }
    /* ------------------------------------------------- *
 *        landing page header
 * ------------------------------------------------- */

    .intro-header {
        text-align: center;
        color: #f8f8f8;
        background-size: cover;
        background: url("../images/kv_img01.jpg") center 0 no-repeat;
    }

    .intro-header .intro-message {
        position: relative;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    @media (max-width: 767px) {
        .intro-header .intro-message {
            padding-bottom: 15%;
        }
    }

    .intro-header .intro-message>h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 5em;
        font-family: 'Bree Serif', serif;
    }

    @media (max-width: 767px) {
        .intro-header .intro-message>h1 {
            font-size: 3em;
        }
    }

    .intro-header .intro-message>h3 {
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    }

    .intro-header .intro-message .intro-divider {
        width: 400px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 767px) {
        .intro-header .intro-message .intro-divider {
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        .intro-header .intro-message ul.intro-social-buttons>li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
        }
        .intro-header .intro-message ul.intro-social-buttons>li:last-child {
            margin-bottom: 0;
        }
    }
    /* ------------------------------------------------- *
 *   titleType1(top-title)
 * ------------------------------------------------- */

    .top-content-title {
        vertical-align: middle;
        font-weight: normal;
        padding: 15px;
        margin: 0;
        font-size: 30px;
        text-align: center;
        @include my-font-en;
        @include top-contents-title;
        a {
            @include maincolor;
            text-decoration: none;
            &:hover,
            &:focus {
                @include main-hover;
                text-decoration: none;
            }
        }
    }

    .top-content-title.fa {
        font-size: 25px;
        margin-right: 7px;
    }
    /* ------------------------------------------------- *
 *   titleType2(contentsp-page-title)
 * ------------------------------------------------- */

    .page-header {
        @include my-font-en;
    }
    /* ------------------------------------------------- *
 *   news
 * ------------------------------------------------- */

    .media-heading {
        font-size: 20px;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 3px;
    }

    @media (max-width: 767px) {
        .media-heading small {
            display: block;
            margin-top: 5px;
        }
    }
    /* ------------------------------------------------- *
 *   contact
 * ------------------------------------------------- */

    .form-group label span {
        font-size: 12px;
        color: red;
        margin-left: 5px;
    }

    .contactleft {
        padding-top: 290px;
    }
    /* ------------------------------------------------- *
 *   detail
 * ------------------------------------------------- */

    .product-thumbnails {
        margin-top: 10px;
    }

    .product-detail {
        padding-top: 20px;
    }

    .selectpicker-wrapper {
        margin-bottom: 0;
        width: 50%;
    }

    .quantity {
        overflow: hidden;
    }

    .quantity button.btn {
        float: left;
        width: 35px;
        margin-right: 10px;
        border-radius: 0;
    }

    .quantity input.qty {
        float: left;
        width: 60px;
        margin-right: 10px;
        border-radius: 0;
    }

    .quantity button.btn-cart {
        float: left;
        width: 150px;
        border-radius: 0;
    }

    .detail-table th,
    .detail-table td {
        padding: 0 5px;
    }


    .page404 {
        background-image: url('../images/page404.jpg');
        height: 120px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
        .page404 {
            height: 245px;
        }
    }

    @media (min-width: 992px) {
        .page404 {
            height: 384px;
        }
    }
    /*# sourceMappingURL=styles.css.map */
    /* ------------------------------------------------- *
 *   mycustom
 * ------------------------------------------------- */

    // 中央から表示
    .top-custom-images p {
        text-align: center;
        -webkit-transition: all 1s;
        -webkit-transform: scale(1.0);
        opacity: 1;
    }

    .top-custom-images p.move {
        -webkit-transform: translate(0, 0) scale(0.5);
        opacity: 0;
    }

    .top-custom-contents p {
        text-align: center;
        -webkit-transition: all 1s;
        -webkit-transform: scale(1.0);
        opacity: 1;
    }

    .top-custom-contents p.move {
        -webkit-transform: translate(0, 0) scale(0.5);
        opacity: 0;
    }